.discover-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-main);
  border-radius: 5px;
  width: 100%;
  padding: 0.75em;
  height: 15em;
  cursor: pointer;
}
/* .discover-card:hover {
  background-color: var(--bg-hover);
} */

.discover-card .info-container {
  display: flex;
  align-items: center;
  gap: 0.75em;
  height: 100%;
}
.discover-card .info-container .imgs-container {
  height: 100%;
  max-height: 100%;
  display: flex;
  gap: 0.5em;
}
.discover-card .info-container .imgs-container > img {
  height: 100%;
}
.discover-card .info-container .imgs-container .side-imgs {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 100%;
}
.discover-card .info-container .imgs-container .side-imgs img {
  height: 31%;
  border-radius: 3px;
}

.discover-card .main-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.discover-card .main-info .title-info {
  display: flex;
  flex-direction: column;
}
.discover-card .main-info .title-info .related-info {
  color: var(--text-dim);
  font-size: 0.8em;
}
.discover-card .main-info .title-info span > span {
  color: var(--text-main);
}
.discover-card .main-info .title-info span > span:hover {
  text-decoration: underline;
}
.discover-card .main-info .button.tertiary button {
  font-size: 0.8em;
  color: var(--text-main);
  padding: 0.4em 1em;
  margin-top: 1em;
}

.discover-card .info-container .game-title {
  font-size: 1.25em;
  font-weight: 600;
}

.discover-card .info-container .game-tags {
  display: flex;
  gap: 0.25em;
}
.discover-card .game-tags .game-tag {
  background-color: var(--bg-highlight);
  color: var(--text-dim);
  font-size: 0.6em;
  padding: 0.5em 0.6em;
  border-radius: 3px;
}

.discover-card .platform-release {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.discover-card .platform-release img {
  width: 1.35em;
}
.discover-card .platform-release .release-date {
  font-size: 0.7em;
  color: var(--text-dim);
}

.discover-card .price-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.discover-card .price-container .top-buttons {
  display: flex;
  gap: 0.75em;
}
.discover-card .price-container .top-buttons .button button {
  padding: 0.5em 1.15em;
  font-size: 0.85em;
  height: 100%;
  color: var(--text-main);
}

.discover-card .price-container .price-info {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.6em;
  padding: 0.3em 0;
}
.discover-card .price-container .price-info.discounted {
  align-items: end;
}
.discover-card .price-container .price-info button {
  font-size: 0.9em;
  padding: 0.35em 0.6em;
}

.discover-card .price-container .price-info .end-date {
  font-size: 0.7em;
  color: var(--text-dim);
}

.discover-card .price-container .price-info.discounted .disc-amount {
  background-color: var(--accent-green);
  color: var(--bg-main);
  padding: 0.6em 1.15em;
  border-radius: 3px;
  font-weight: 600;
}
.discover-card .price-container .price-info.discounted .price-container {
  display: flex;
  align-items: start;
  font-weight: 600;
}
.discover-card .price-container .price-info.discounted .price {
  color: var(--bg-hover);
  text-decoration: line-through;
  font-weight: 500;
}
.discover-card .price-container .price-info.discounted button {
  padding: 0.75em 0.7em;
}
