.store-discover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.store-discover h3 {
  color: var(--text-main);
}
.store-discover .main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
}
.store-discover .main-content .store-section:has(p) > p {
  font-size: 0.9em;
}
.store-discover .store-section {
  margin-top: 2em;
  width: 70%;
}
.store-discover .store-section.discovery {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 4em;
}
