.store {
  background: rgb(4, 0, 17);
  background: linear-gradient(
    180deg,
    rgba(4, 0, 17, 1) 0%,
    rgba(32, 43, 59, 1) 35%
  );
  /* padding-bottom: 10em; */
}

.store .navbar .buttons-container:has(.settings-icon) {
  gap: 1.5em;
}
.store .navbar .navbar-button:has(.settings-icon) {
  padding: 0.6em 0.7em;
  display: grid;
  place-items: center;
  background-color: var(--bg-hover);
}
.store .navbar .settings-icon {
  width: 1.75em;
}

@media screen and (max-width: 1700px) {
  .store .store-section {
    width: 90% !important;
  }
  .store .store-section .container {
    height: 27.5em;
  }
  .store .carousel-game-about .carousel-game-name {
    font-size: 1.4em;
  }
  .store .carousel-game-about .carousel-game-description {
    font-size: 0.7em;
  }
  .store .carousel-item-container .carousel-footer .button button {
    font-size: 0.9em;
    padding: 0.75em 1.35em;
  }

  .store
    .store-section
    .recently-updated
    .carousel-card
    .btns-container
    .button {
    max-width: fit-content;
  }
}
