:root {
  --text-main: #f3f3f3;
  --text-dim: #76808c;
  --bg-main: #0e141b;
  --bg-highlight: #1e2329;
  --bg-hover: #313843;
  --bg-secondary: #14344b;
  --bg-tertiary: #212b45;
  --color-primary: #66c0f4;
  --color-secondary: #4b619b;
  --accent-green: #a1cd44;
  --accent-red: #cd5444;
  --accent-yellow: #c1b15f;
}

@font-face {
  font-family: MotivaSans;
  src: url('fonts/MotivaSansRegular.woff.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: MotivaSans, sans-serif !important;
  color: var(--text-main) !important;
  background-color: var(--bg-main) !important;
  /* background: rgb(14, 20, 27);
  background: linear-gradient(
    180deg,
    rgba(14, 20, 27, 1) 0%,
    rgba(30, 35, 41, 1) 50%
  ); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**** PAGES NAVBAR STYLES ****/
div.navbar {
  height: 3.25em;
  background-color: var(--bg-tertiary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1em;
}
.navbar .buttons-container {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}
.navbar .navbar-button {
  cursor: pointer;
  font-size: 0.85em;
  padding: 0.75em 1.6em;
  border-radius: 3px;
  color: var(--text-main);
  text-decoration: none;
}
.navbar .navbar-button:hover {
  background-color: var(--bg-hover);
}
.navbar .navbar-button.active {
  background-color: var(--color-secondary);
}

.navbar .search-container {
  position: relative;
}
.navbar .navbar-input {
  outline: none;
  border: none;
  background-color: #0e141b38;
  font-size: 0.9em;
  padding: 0.7em 1.25em;
  border-radius: 3px;
  width: 23em;
  color: var(--text-main);
  font-family: MotivaSans;
}
.navbar .navbar-input::placeholder {
  color: var(--color-secondary);
  font-family: MotivaSans;
}
.navbar .navbar-search-icon {
  position: absolute;
  height: 60%;
  top: 20%;
  right: 2%;
}
