.store-browse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.store-browse h3 {
  color: var(--text-main);
  margin-bottom: 1em;
}
.store-browse .main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4em;
  background: url('/public/media/images/backgrounds/store-browse.png') no-repeat
    center;
  /* background-position: -15% 0%; */
}
.store-browse .main-content .container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e141b38;
  width: 100%;
  max-width: 100%;
  border-radius: 3px;
}
.store-browse .store-section {
  width: 70%;
}

/* CATEGORIES CAROUSEL */
.store-browse .store-carousel {
  background-color: var(--bg-main);
  width: 90%;
  height: 95%;
  display: flex;
  border-radius: 3px;
  justify-content: center;
}
.store-browse .store-carousel .carousel-indicators {
  bottom: -65px;
  display: none;
}
.store-browse .store-carousel .carousel-control-next,
.store-browse .store-carousel .carousel-control-prev {
  width: fit-content;
}
.store-browse .store-carousel .carousel-control-prev {
  left: -45px;
}
.store-browse .store-carousel .carousel-control-next {
  right: -45px;
}
.store-browse .store-carousel .carousel-item {
  height: 100%;
  cursor: pointer;
}

.store-browse .store-carousel .carousel-inner {
  padding: 1em;
  border-radius: 3px;
}

.store-browse .store-section .container.categories {
  height: auto;
  padding: 1em 0;
}
.store-browse .store-section .container.categories .store-carousel {
  background-color: transparent;
}
.store-browse .store-section .categories .categories-item {
  display: flex;
  gap: 0.75em;
  justify-content: center;
  align-items: center;
}
.store-browse .store-section .categories .category-carousel-card {
  width: max-content;
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  place-items: center;
  transition: filter 0.2s ease-in-out;
}
.store-browse .store-section .categories .category-carousel-card:hover {
  filter: brightness(1.4);
}
.store-browse .store-section .categories .category-carousel-card img {
  width: 100%;
}
.store-browse .store-section .categories .category-carousel-card span {
  position: absolute;
  font-weight: 500;
  font-size: 1.25em;
}

.store .store-section.browse-content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.store-browse h4 {
  margin-top: 4em;
  margin-bottom: 1em;
}

/* TOP FILTER BAR */
.store-browse .filter-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-main);
  border-radius: 5px;
  padding: 0.5em 1em;
}
.store-browse .filter-top-bar .filter-view {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 0.9em;
  color: var(--text-dim);
}
.store-browse .filter-top-bar .filter-view img {
  width: 2.4em;
  cursor: pointer;
}
.store-browse .top-filter-options {
  display: flex;
  color: var(--text-dim);
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  font-size: 0.9em;
}
.store-browse .top-filter-options .top-filter-option {
  border-radius: 3px;
  padding: 0.5em 0.75em;
  cursor: pointer;
}
.store-browse .top-filter-options .top-filter-option:hover {
  color: var(--text-main);
}
.store-browse .top-filter-options .top-filter-option.active {
  background-color: var(--bg-hover);
  color: var(--text-main);
}

.store-browse .main-browse-content {
  display: flex;
  align-items: start;
  padding-bottom: 1em;
  gap: 0.5em;
}

/* SIDE FILTERS BAR */
.store-browse .side-filters .divider {
  height: 1px;
  width: 100%;
  background-color: var(--bg-hover);
  margin: 0.2em 0;
}

.store-browse .side-filters {
  background-color: var(--bg-main);
  border-radius: 5px;
  width: 30%;
  height: auto;
  padding: 0.75em;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.store-browse .side-filters .side-filter-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.store-browse .side-filters .side-filter-title img {
  width: 2em;
  cursor: pointer;
}

.store-browse .search-container {
  position: relative;
}
.store-browse .navbar-input {
  outline: none;
  border: none;
  background-color: #212b452b;
  font-size: 0.9em;
  padding: 0.7em 1.25em;
  border-radius: 3px;
  width: 100%;
  color: var(--text-main);
  font-family: MotivaSans;
}
.store-browse .navbar-input::placeholder {
  color: var(--color-secondary);
  font-family: MotivaSans;
}
.store-browse .navbar-search-icon {
  position: absolute;
  height: 60%;
  top: 20%;
  right: 2%;
}

.store-browse .filter-tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
}
.store-browse .filter-tags-container .filter-tag {
  background-color: var(--bg-hover);
  font-size: 0.9em;
  padding: 0.25em 0.5em;
  border-radius: 3px;
}
.store-browse .filter-tags-container .filter-tag span {
  margin-left: 0.4em;
  color: var(--text-dim);
  cursor: pointer;
}

/* GAME LIST */
.store-browse .game-list {
  background-color: var(--bg-main);
  border-radius: 5px;
  width: 100%;
  height: 50em;
}
